scikit-learn
pandas
numpy
seaborn #for visualization during EDA
flask #Web App creation
mlflow
pendulum

# The following reasons we dont use git for data management
# Storage size : File size is huge of size GB, TB and even petabyte. Also, github will reject push if data file is > 25MB
# Conflict resolution : Source code management is done in SVC, github. Merge conflict for millions of data set is unmanagable
# Performance - Git push is very slow, it may fail during push. 
# Hence git is not used for data management. Instead use DVC.
dvc
ipykernel
xgboost

#For linting and testing
#pytest==7.1.3
#mypy==0.971
#flake8==5.0.4
#black==22.8.0
#tox==3.25.1

pytest
mypy
flake8
black
tox

-e .